[submodule "themes/PolyRhythmic"]
	path = themes/PolyRhythmic
	url = https://github.com/wonyoung-jang/hugo-PolyRhythmic
[submodule "themes/toha"]
	path = themes/toha
	url = https://github.com/hugo-toha/toha.git
