{{/* Use BaseResume from config.yaml */}}
{{ $resumeData := .Site.Params.BaseResume }}
<div id="resume" class="container">
  {{/* Define the order of sections you wish to render */}}
  {{ $sections := slice "basics" "work" "education" "skills" "interests" "awards" "volunteer" "references" "languages" "projects" "certificates" "publications" }}
  {{ range $sections }}
    {{ $sect := . }}
    {{ with index $resumeData $sect }}
      <section id="{{ $sect }}">
        <h2>{{ title $sect }}</h2>
        {{/* Compute the partial file path relative to project root */}}
        {{ $partialPath := printf "layouts/partials/resume/section_%s.html" $sect }}
        {{ $partialContent := readFile $partialPath | default "" }}
        {{ if gt (len $partialContent) 0 }}
          {{ partial (print "resume/section_" $sect ".html") . }}
        {{ else }}
          <pre>{{ . | jsonify }}</pre>
        {{ end }}
      </section>
    {{ end }}
  {{ end }}
</div>
